/*----------- 
Login page
----------*/
.page-wrapper {
    background-color: #30344c;
}

.card-body .title {
    color: #000;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 500;
}

.shap-1 {
    width: 4rem;
    margin-top: -49px !important;
    margin-right: -70px !important;
}

.shap-2 {
    width: 15rem;
    margin-bottom: -75px;
    margin-left: -75px;
}

.card {
    border-radius: 10px;
}

.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.form-label {
    color: #000;
    font-weight: 500;
}

a.forgot-pass {
    transition: .3s;
}

a.forgot-pass:hover {
    color: blue !important;
}

/*----------- 
index page
----------*/
.num_rows_input {
    width: 20%;
    padding: 5px 10px;
    z-index: 10;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.description {
    max-height: 100px;
    min-width: 200px;
    overflow-y: auto;
    white-space: wrap;
    border-radius: 5px;
    scrollbar-width: thin;
}